@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
body, html {
  height: 100%;
}

body {
  font-family: "Open Sans";
  font-weight: 100;
  display: flex;
  overflow: hidden;
}

input ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input:focus {
  outline: 0 transparent solid;
}
input:focus ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
input:focus ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
input:focus :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.login-form {
  min-height: 10rem;
  margin: auto;
  max-width: 50%;
  padding: 0.5rem;
}

.login-text {
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: 0.5rem;
  text-align: center;
}

.login-text .fa-stack{
  width: 3em;
  height: 3em;
}

#logo{
  border-radius: 50px;
  width: 100%;
  height: 100%;
  transform: translateY(-10px);
}

.login-username, .login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  color: white;
  display: block;
  margin: 1rem;
  padding: 0.5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
}
.login-username:focus, .login-password:focus {
  background: white;
  border-radius: 6px;
  color: black;
  transition: 250ms background ease-in;
}

.login-role {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  color: rgb(209, 205, 205);
  display: block;
  margin: 1rem;
  padding: 0.5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 2rem);
  font-size: 14px;
  appearance: none;
  background-image: url('../img/arrow.png');
  background-size: 10%;
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 30px; 
}

.login-role:focus {
  background: white;
  border-radius: 6px;
  color: black;
  transition: 250ms background ease-in;
}


.login-forgot-pass {
  bottom: 0;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 75%;
  left: 0;
  opacity: 0.6;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  width: 100%;
}
.login-forgot-pass:hover {
  opacity: 1;
}

.login-submit {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 8px;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  min-width: 1px;
  padding: 0.50rem;
  transition: 250ms background ease-in;
}
.login-submit:hover, .login-submit:focus {
  background: white;
  color: black;
  transition: 250ms background ease-in;
}

[class*=underlay] {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}

.underlay-photo {
    -webkit-animation: hue-rotate 6s infinite;
    animation: hue-rotate 10s infinite;
    /* background: url("https://i.ibb.co/ZBKxXKM/logo-Infinity.jpg"); */
    background: url("https://img1.wallspic.com/crops/0/5/2/3/4/143250/143250-universo-morado-la_ciencia_ficcion-espacio-objeto_astronomico-2048x1365.jpg");
    background-size: 100%;
    background-position: center;
    -webkit-filter: grayscale(30%);
    filter: blur(10px);
    z-index: -1;
  }
  

.underlay-black {
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

@-webkit-keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}

@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}